.table-responsive {
  max-height: 600px;
    height: auto;
  overflow: hidden;
  overflow-y: scroll;
}
.main-container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.thongke{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.xuat{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.downloadpdf{
  background-color:  #ad171c;
  color: white;
  width: 60px;
}
.downloadexcel{
  background-color:  #ad171c;
  color: white;
  width: 80px;
}
.ngan-cach {
  display: block;
  clear: both;
  width: 100%;
}
#myChart{
     /* padding-left: 300px;
    padding-right: 300px; */
     padding-top: 20px;
     padding-bottom: 20px;
     height: 500px !important ;
     width: 900px !important;
     margin :0 auto;
}
.hidden {
  display: none ;
}
.detail-list th{
  /* background-color:  */
  background-color: #f2f2f2;
  color: rgb(42, 42, 42);
} 
.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  float: left;
  clear: both;
  width: 100%;
  margin-left: 0%;
}
button {
  padding: 8px 16px;
  background-color: #ad171c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0px;
}

button:hover {
  background-color: #555;
}

.search-bar input {
  padding: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 0px;
  clear: both;
}

.search-bar button {
  width: fit-content;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: 20px;
  margin-right: 0;
}

#search {
  border: black 1px solid;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0px;
  margin-right: 10px;
  width: 200px;
  height: 30px;
}

.ngan-cach {
  display: block;
  clear: both;
  width: 100%;
}

.hidden {
  display: none !important;
}
#myInput {
  width: 100%; 
  font-size: 16px; 
  padding: 7px 10px 7px 40px; 
  border: 1px solid #ddd;
  margin-bottom: 12px; 
    border-radius: 20px;
}
#example thead tr.header, #example tr:hover {
  background-color: #f1f1f1;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  /* font-family: 'Unbounded', sans-serif; */
  background-color: #f0f0f0;
  display: block;
}

.yellow-text {
  color: #ad171c;
}

.green-text {
  color: #008000;
}

/* Header Styles */
.header {

  position: fixed;
  width: 100%;
  background-color: #ad171c;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-items: center;
}

.nav-logo {
  display: flex;
  /* justify-items: center; */

}

.img-logo {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;

  margin-left: 15px;
  /* Đặt khoảng cách bao quanh hình ảnh */
}



.nav-logo img {
  width: 40px;
  height: 40px;
  display: block;



}

.nav {
  display: flex;
  position: absolute;
  font-size: 20px;
  right: 200px;
}

.nav-element {
  margin: 15px 20px;
}

.avt-logo {
  display: flex;
  position: absolute;
  right: 30px;
  justify-items: center;
  margin-top: 6px;
}

.img-avt {
  background-color: #fff;
  border-radius: 50%;
  /* padding: 5px; */

  margin-left: 10px;
  /* Đặt khoảng cách bao quanh hình ảnh */
}

.avt-logo img {
  width: 40px;
  height: 40px;
  display: block;



}

.header-title {
  display: flex;
  font-size: 24px;
  margin-left: 30px;
  font-weight: 550;
  text-align: center;
}

.header-title a {
  display: flex;
  align-items: center;

}






a {
  text-decoration: none;
  color: #fff !important;
}
