body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  #filters {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #filters label {
    font-weight: bold;
  }
  
  #filters select {
    padding: 5px;
    border-radius: 5px;
  }
  
  table {
    width: 80%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  #statistics {
    width: 80%;
    margin: 0 auto;
  }
  
  #statistics h2 {
    text-align: center;
  }
  
  #statistics p {
    margin: 10px 0;
  }
  
  canvas {
    margin: 0 auto;
    display: block;
  }
  