    /* Reset CSS */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /* Body Styles */
    
    body {
        font-family: Arial, sans-serif;
        /* font-family: 'Unbounded', sans-serif; */
        background-color: #f0f0f0;
    }
    
    .yellow-text {
        color: red;
    }
    
    .green-text {
        color: #008000;
    }
    /* Header Styles */
    
    .header {
        height: 10%;
        position: fixed;
        width: 100%;
        background-color: #ad171c;
        color: #fff;
        padding: 10px;
        text-align: center;
        z-index: 1;
        display: flex;
        justify-items: center;
    }
    
    .nav-logo {
        display: flex;
        /* justify-items: center; */
    }
    
    .img-logo {
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
        margin-left: 15px;
        /* Đặt khoảng cách bao quanh hình ảnh */
    }
    
    .nav-logo img {
        width: 40px;
        height: 40px;
        display: block;
    }
    
    .nav {
        display: flex;
        position: absolute;
        font-size: 20px;
        right: 200px;
    }
    
    .nav-element {
        margin: 15px 20px;
    }
    
    .avt-logo {
        display: flex;
        position: absolute;
        right: 30px;
        justify-items: center;
        margin-top: 6px;
    }
    
    .img-avt {
        background-color: #fff;
        border-radius: 50%;
        /* padding: 5px; */
        margin-left: 10px;
        /* Đặt khoảng cách bao quanh hình ảnh */
    }
    
    .avt-logo img {
        width: 40px;
        height: 40px;
        display: block;
    }
    
    .header-title {
        display: flex;
        font-size: 24px;
        margin-left: 30px;
        font-weight: 550;
        text-align: center;
    }
    
    .header-title a {
        display: flex;
        align-items: center;
    }
    /* Test List Styles */
    
    .main-container {
        max-width: 1200px;
        margin: 0px auto;
        padding: 100px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    a {
        text-decoration: none;
        color: #fff !important;
    }
    
    button {
        padding: 8px 16px;
        background-color: #ad171c;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 0px;
    }
    
    button:hover {
        background-color: #555;
    }
    
    .btn-add {
        padding-bottom: 10px !important;
    }
    
    .test,
    .student {
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .test-name {
        display: flex;
    }
    
    .test button,
    .student button {
        margin-left: 10px;
    }
    /* Student List Styles */
    
    .student-list,
    .test-list {
        margin-top: 20px;
    }
    
    .details {
        display: none;
    }
    
    .modal {
        display: none;
        /* Mặc định ẩn modal */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        /* Một lớp mờ */
    }
    
    .modal-content {
        position: relative;
        max-width: 1000px;
        height: 800px;
        margin: 100px auto;
        padding: 100px;
        background-color: #fffbfb;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        /* Sử dụng flexbox */
        flex-direction: column;
        /* Hiển thị các phần tử dọc */
        flex-wrap: wrap;
    }
    
    .close-btn {
        position: absolute;
        right: 40px;
        top: 40px;
        display: flex;
        padding: 5px;
        cursor: pointer;
        background-color: #ddd;
        /* border-radius: 50%; */
    }
    
    .close-btn span {
        font-size: 20px;
        font-weight: bold;
        color: #040404;
    }
    
    .title {
        margin-bottom: 30px;
        margin-top: 35px;
        font-size: 23px;
    }
    
    .subject {
        margin-top: 5px;
        margin-bottom: 5px;
        justify-items: center;
    }
    
    .subject button {}
    
    .subject-title {
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 18px;
    }
    
    .infor-detail {
        align-items: center;
        margin-bottom: 60px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .detail-container {
        display: flex;
        justify-content: space-between;
    }
    
    .infor {
        font-weight: bold;
        font-size: 24px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .detail {
        margin-right: 100px;
        margin-left: 20px;
        color: #040404;
    }
    
    .download-test {
        margin-top: 30px;
    }
    /* CSS cho bảng */
    
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        margin-top: 10px;
        text-align: center;
    }
    
    th,
    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
    /* footer  */
    
    #footer {
        padding: 20px 16px;
        text-align: center;
        text-decoration: none;
        margin-top: 70px;
        color: #000 !important;
        /* background-color: #ad171c; */
    }
    
    .social-list {
        font-size: 24px;
    }
    
    .social-list a {
        color: #000 !important;
        text-decoration: none;
    }
    
    .social-list a:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    
    .copyright {
        margin-top: 15px;
        color: #000;
    }
    
    .copyright a {
        text-decoration: none;
        color: #000 !important;
    }
    
    .fix-call {
        position: fixed;
        bottom: 40px;
        right: 30px;
    }
    
    .fix-call button {
        background-color: #ad171c;
        width: 60px;
        height: 60px;
        border-radius: 50% !important;
    }
    
    .fix-call i {
        font-size: 24px;
    }
    
    .search-bar {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        justify-content: center;
        align-items: center;
        float: left;
        clear: both;
        width: 100%;
        margin-left: 0%;
    }
    
    .search-bar input {
        padding: 10px;
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
        margin-right: 0px;
        clear: both;
    }
    
    .search-bar button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }
    
    #search {
        border: black 1px solid;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 0px;
        margin-right: 10px;
        width: 200px;
        height: 30px;
    }
    
    .ngan-cach {
        display: block;
        clear: both;
        width: 100%;
    }
    
    .hidden {
        display: none !important;
    }
    
    #popUp {
        z-index: 0;
        width: 100%;
        min-height: 110%;
        position: absolute;
        background-color: #362c2c84;
        box-shadow: 0 0 10px rgba(207, 20, 20, 0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        top: 10%;
        bottom: 0%;
    }
    
    .popup-content {
        position: absolute;
        left: 5%;
        right: 5%;
        top: 0;
        bottom: 0%;
        display: block;
        cursor: pointer;
        background-color: #ede5e5;
        border-radius: 5px;
    }
    
    .popup-header {
        font-size: 23px;
        margin-bottom: 30px;
        margin-top: 35px;
        text-align: center;
    }
    
    .close {
        font-size: 20px;
        font-weight: bold;
        color: #040404;
    }
    
    .popup-body {
        justify-items: center;
        display: flex;
        left: 5%;
    }
    
    .popup-body-left {
        display: block;
        width: 30%;
        height: 50%;
        margin-right: 1%;
        background-color: #fff;
        border-radius: 10px;
        font-size: 18px;
        margin-left: 2%;
        border: 1px solid #ccc;
    }
    
    .popup-body-right {
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        width: 69%;
        height: 100%;
        margin-right: 2%;
        ;
        font-size: 18px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .popup-body-right-content {
        display: flex;
        justify-content: space-between;
    }
    
    .popup-body-left-content {
        font-weight: bold;
        font-size: 24px;
        margin-left: 20px;
    }
    
    .icon-name {
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
        display: inline-block;
        /* hien thi cac phan tu vao giua */
        margin-top: 20px;
    }
    
    .icon-name img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .icon-name h3 {
        margin-top: 20px;
        text-align: center;
    }
    
    .popup-footer {
        bottom: 0;
        position: absolute;
        margin-bottom: 20px;
        width: 100%;
        display: block;
        justify-content: center;
        text-align: center;
    }
    
    .button-close {
        background-color: #ad171c;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: auto;
    }
    
    .ngan-cach-infor {
        display: block;
        margin-top: 0;
        ;
        clear: both;
        width: 70%;
        margin-left: 15%;
    }
    
    .infor-content-div {
        display: block;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 5%;
        ;
    }
    
    .content-infor {
        display: flex;
        margin-bottom: 10px;
        margin-left: 5%;
        text-align: center;
        align-items: center;
    }
    
    .content-infor p {
        margin-left: 5% !important;
        text-align: center !important;
        justify-content: center;
    }
    
    .course-content {
        display: block;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .course {
        margin-left: 1%;
        background-color: #f1f3ea;
        display: flex;
        align-items: center;
        width: 98%;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    button {
        margin-left: auto;
        margin-right: 3%;
        height: 60%;
    }
    
    .course p {
        margin-left: 2%;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        border-radius: 5px;
        cursor: pointer;
        text-align: center !important;
    }
    
    .test-detail {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        justify-content: center;
        background-color: #0d0e0abf;
        align-items: center;
    }
    
    .test-detail-content {
        left: 20%;
        position: relative;
        width: 60%;
        height: 96%;
        margin-top: 0.5%;
        display: block;
        justify-content: center;
        background-color: #f3efef;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .test-detail-header {
        padding-top: 2%;
        display: block;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .test-detail-body {
        display: block;
        justify-content: center;
        margin-top: 0%;
        margin-bottom: 14%;
        height: 80%;
        width: 100%;
    }
    
    .test-detail-footer {
        position: absolute;
        display: block;
        width: 100%;
        justify-content: center;
        height: 30px;
        margin-top: 20px;
        text-align: center;
        bottom: 7%;
    }
    
    .scroll-view {
        width: 90%;
        height: 100%;
        overflow: auto;
        border: 1px solid #dcdfe7d1;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0%;
        margin-bottom: 15%;
        border-radius: 10px;
        padding: 10px;
        background-color: #c3c4c680;
    }
    
    .infor-test {
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
    }
    
    .list-question {
        display: block;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .question {
        display: block;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .infor-stu {
        margin-left: 2%;
        display: block;
        width: 40%;
    }
    
    .infor-stu p {
        font-size: 18px;
        padding-bottom: 10px;
    }
    
    .infor-bai-lam {
        width: 60%;
        display: block;
    }
    
    .table-test {
        text-align: center;
        background-color: #00000000;
    }